*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 500;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    transition: .3s all ease-in-out;
}
:root{
    --bg-color:#fff;
    --main-color:rgba(2, 2, 19,);
    --blue-color:rgba(5, 5, 153);
    --blue-color-hover:rgb(0, 0, 255);
    --main-shadows:0 0 30px #080808;
    --border:1px solid rgba(0, 0, 0, 0.599);
}
body{
    width: 100%;
    position: relative;
    display: block;
    justify-content: center;
    align-items: center;

}
html{
    scroll-behavior: smooth;
}
.header{
    background: var(--bg-color);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    /*position: relative;*/
}
.header .nav{
    background: var(--bg-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*box-shadow: var(--main-shadows);*/
    padding: 15px 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}
.header .nav .list-items{
    padding: 5px;
    margin-right: 50px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
}
.header .nav .list-items .list-item{
    color: var(--main-color);
}
.header .nav .list-items .list-item:hover{
    color: var(--blue-color-hover);
}
.header .header-center{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background: red;*/
    position: relative;

}
.header .header-center .header-center-content{
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; width: 300px;
    margin: 20px 0 0 200px;
    gap: 30px;
    color: var(--main-color);
    font-size: 20px;

}
.header .header-center .header-center-content 
h1{
    font-size: 25px;
}
.header .header-center .header-center-content 
h1 i{
    color: var(--blue-color);
}
.btn{
    width: 100%;
    padding: 5px 20px;
    color: var(--main-color);
    background: var(--blue-color);
}
.btn:hover{
    background: var(--blue-color-hover);
}
.see-more{
    position: absolute;
    bottom: 40px;
    left: 200px;
}
.media-icons{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    padding-top: 100px;
    background-color: var(--bg-color);
    background:greenyellow;
    width: 60px;
}
.media-icons .span-icon{
    position: relative;
}
.media-icons .span-icon i{
    color: var(--blue-color);
}
.media-icons .span-icon:hover i{
    color: var(--main-color);
}

.media-icons .span-icon p{
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
}
.media-icons .span-icon:hover p{
    opacity: 1;
    left: -100px;
    z-index: -1;
}
header .header-center img{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 100px;
    right: 200px;
}

.main{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    
    
}
.main .sect-one{
    display:flex ;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /*background: red;*/
    width: 80%;

}
.main .sect-one h1{
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}
.main .sect-one .sect-one-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    margin: 30px 0;
}
.main .sect-one .cards{
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: greenyellow;*/
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
}
.main .sect-one .cards .card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    position: relative;
    /*background-color: red;*/
    box-shadow: var(--main-shadows);
    margin: 20px;
}
.main .sect-one .cards .card .card-img{
    width: 250px;
    height: 250px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main .sect-one .cards .card .card-img img.card-img{
    width: 100%;
    
}
.main .sect-one .cards .card:hover .card-img img.card-img{
    transform: scale(1.2);
}
img.abso-img{
width: 70px;
height: 70px;
border-radius: 100%;
position: absolute;
bottom: 160px;
left: 5px;
z-index: 1;
outline: 3px solid var(--bg-color);
}

.main .sect-one .cards .card h3{
    margin-top: 20px;
    border-bottom: 1px solid var(--main-color);
}
.main .sect-one .cards .card p{
    margin: 10px;
    width: 100%;
    text-align: center;
}
.main .sect-one .cards .card .botton-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    margin: 20px 0; 

}
.main .sect-one .cards .card .botton-content i{
    color: var(--blue-color);
}
.main .sect-one .cards .card .botton-content .card-btn{
    padding: 5px 20px;
    color: var(--bg-color);
    background: var(--blue-color);
}
.main .sect-one .cards .card .botton-content .card-btn:hover{
    background: var(--blue-color-hover);
}
.sect-one .test-cards{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    flex-wrap: wrap;
}
.sect-one.test-cards .test-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    position: relative;
    box-shadow: var(--main-shadows);
    border-radius: 10px;
}
.sect-one.test-cards .test-card .tes-img{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    overflow: hidden;
}
.sect-one .test-cards .test-card .tes-img .test-image{
    width: 100%;
    height: 100%;
}
.sect-one .test-cards .test-card:hover .tes-img .test-image{
        transform: scale(1.1);
}
.sect-one .test-cards .test-card .test-content{
    width: 70%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.sect-one .test-cards .test-card .test-content .test-btn{
    padding: 5px 10px;
    color:var(--bg-color);
    width: fit-content;
    background: var(--blue-color);
}
.sect-one .test-cards .test-card .tes-content .test-btn:hover{
    background: var(--blue-color-hover);
}
.footer{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.footer .links{
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 20px;
    margin: 30px;
}
.footer .links a{
    color:var(--main-color);
}
.footer .links a:hover{
    color: var(--blue-color);
}
.footer .copyrights{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.footer .copyrights span i{
    color: var(--blue-color);
}
.footer .copyrights p{
    display: flex;
    gap: 10px;
}
.footer .copyrights p i{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--bg-color);
    background: var(--blue-color);
    border-radius: 100%;
}
.footer .copyrights p i:hover{
    color: var(--blue-color);
    background: var(--blue-color);
}


